.main__shopping-car {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 3;
    opacity: 1;
    visibility: visible;
    @include myTransition;

    &-hidden {
        visibility: hidden;
        opacity: 0;
    }

    &:hover {
        opacity: 0.8;
    }

    .main__shopping-amount {
        position: absolute;
        right: 0;
        top: -10px;
        z-index: 4;
        color: map-get($colors, myBlue);
        border-radius: 10px;
        border: 5px solid map-get($colors, myBlue);
        background-color: map-get($colors, myBlue);
        box-shadow: 0px 0px 10px #000000;
        @include myTransition;

        p {
            color: #ffffff;
            font-size: 1.5rem;
            padding: 0 5px;
            margin: 0;
            font-weight: bold;
        }
    }

    .no-products {
        border: none;
    }

    button {
        color: map-get($colors, myBlue);
        border-radius: 50%;
        border: 5px solid map-get($colors, myBlue);
        padding: 10px;
        background-color: map-get($colors, myRed);
        box-shadow: 0px 0px 10px #000000;
        @include myTransition;
        
        i {
            color: #ffffff;
            font-size: 3rem;
        }
    }
}

.success__title {
    font-family: $myText;
    font-size: 2rem;
}

.swal2-popup.swal2-toast .swal2-title.toast_title {
    font-family: $myText;
    font-size: 2rem;
}

.warning__title {
    font-family: $myText;
    font-size: 2rem;
}

.warning__text {
    font-family: $myText;
    font-size: 1.5rem,
}

.swal2-styled.warning__confirm.warning__confirm {
    background-color: map-get($colors, myRed);
    font-size: 1.5rem,
}

.swal2-styled.swal2-cancel.warning__cancel {
    background-color: map-get($colors, myBlue);
    font-size: 1.5rem,
}

/*===== ESTILOS TABLET - MD =====*/
@media only screen and (min-width: 768px) {
    .main__shopping-car {
        bottom: 100px;
    
        button {
            padding: 15px;
            
            i {
                font-size: 4rem;
            }
        }
    }
}